  
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




body{
     font-family: 'Roboto', sans-serif;
     background-color: #bcbcfa47 !important;
}

a
{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

.cv
{
  color: #ff0000;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: Nova Mono, monospace;
  text-decoration: none;
}

.cv2
{
  color: #9b158a;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: Nova Mono, monospace;
  text-decoration: none;
}


.cv:hover
{
  font-size: 1rem;
  font-weight: 900;
  font-family: Nova Mono, monospace;

}

.cv2:hover
{
  font-size: 1rem;
  font-weight: 900;
  font-family: Nova Mono, monospace;

}


.bg-color
{
  background-color: #ECECFE !important;
}


.redes-sociales svg {
  width: 20px;
  height: 20px;
  max-width: 100%;
  height: auto;
  color:#0D3B66;  
}

.redes-sociales svg:hover {
  color:red;
  border:black
}


.btn-outline-primary 
{
  color: #575757 !important;
  border-color: #575757  !important;
  font-weight: 600 !important;

  
}

.btn:hover
{
  background-color: #0D3B66 !important;
  color: white !important;
}


.text-justify {
  text-align: justify;
}


.container-fluid
{
    margin: 0;
    padding: 0;
}


.nav-link{
    font-family: Nova Mono, monospace;
}

.navbar-brand
{
    margin:0;
    padding:0;
}
  /* Logo cuadrado responsive */
.logo 
{
    background-color: #0D3B66;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    aspect-ratio: 1 / 1; /* Mantener cuadrado */
    width: 60px;          /* tamaño base para escritorio */
    font-size: 2rem;
}

.hado{
    font-family: 'Roboto', sans-serif;
    
    font-size: clamp(4rem, 15vw + 1rem, 15rem);
    font-weight: 900;
    color:#2C2C2C;
 }

.ken{
    font-family: 'Roboto', sans-serif;
    
    font-size: clamp(3rem, 7vw + 1rem, 7rem);
    font-weight: 900;
    color:#2C2C2C;
 }

.subhado{
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.5rem, 1vw + 1rem, 3rem);
    font-weight: 700;
    color:#2C2C2C;
    margin-bottom: 1rem;
}

.conocer-un-poco-mas
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color:#2C2C2C;
    
}


@media (max-width: 768px) 
{
    .logo 
    {
      width: 50px;
      font-size: 1.5rem;
    }
  }

@media (max-width: 480px) 
{
    .logo 
    {
      width: 40px;
      font-size: 1.2rem;
    }
}


.bg-aboutme
{
  background-color: #FFC947;
}

.bg-mywork
{
  background-color: #7AE582;
}

.bg-proyectos
{
  background-color: #fa7c63;
}

.bg-contactame
{
  background-color: #F5F5F5;
}

/* Card estilos */
.card-title
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2C2C2C;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    color: #4F4F4F;
}

.btn-primary
{
    background-color: #0D3B66 !important; 
    border-color: #0D3B66 !important;
}

.btn:hover
{
    background-color: #07509E !important; 
    border-color: #07509E !important;
}